@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bbb;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s; }
    #wrap .bg li.on {
      opacity: 1; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 60vw;
      height: 65vh;
      top: 18vh; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        color: rgba(255, 255, 255, 0.5);
        transform: scale(0.9);
        transition: .6s;
        opacity: 0.4;
        position: relative;
        overflow: hidden; }
      #wrap .swiper-wrapper .swiper-slide-active .inner {
        opacity: 1;
        transform: scale(1.1); }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner {
        padding: 40px 50px;
        background: #555; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner div {
          width: 100%;
          height: 100%;
          border: 3px solid #fff; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner h1 {
          font: 45px/1 "Maven Pro";
          color: #fff;
          position: absolute;
          top: 50%;
          left: 70px;
          margin-top: -60px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner h2 {
          display: inline-block;
          font: 60px/1 "Maven Pro";
          color: #fff;
          background: #4AD4AB;
          position: absolute;
          top: 50%;
          left: 0;
          padding: 30px 20px; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner h1 {
        font: 50px/2 "Maven Pro";
        color: #4AD4AB;
        width: 60%;
        text-align: center;
        margin-bottom: 30px; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .pic {
        width: 60%;
        height: 100%;
        border-top: 10px solid #4AD4AB;
        background: #bbb; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .con {
        position: absolute;
        top: 10%;
        right: 30px;
        width: 33%;
        height: 80%;
        background: #393E42;
        padding: 30px 20px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .con h2 {
          font: 18px/1 "Maven Pro";
          color: #fff;
          margin-bottom: 30px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .con p {
          font: 17px/1.4 "Maven Pro";
          color: #ddd; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner {
        padding: 70px;
        display: flex;
        justify-content: space-between; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner article {
          width: 49%;
          height: 100%;
          border: 3px solid #555;
          position: relative;
          overflow: hidden; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner article:hover .con {
            transform: translateY(100%);
            opacity: 0; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner article .con {
            width: 100%;
            height: 100%;
            padding: 50px;
            background: rgba(0, 0, 0, 0.2);
            transition: 1s; }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner article .con h1 {
              font: 400 28px/1 "Maven Pro";
              color: #111;
              margin-bottom: 30px; }
              #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner article .con h1::after {
                content: '';
                width: 100%;
                height: 1px;
                background: #333;
                margin-top: 20px; }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner article .con p {
              font: 100 15px/1.6 "Maven Pro";
              color: #888; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner article a {
            position: absolute;
            left: 50%;
            bottom: 50px;
            transform: translateX(-50%);
            display: block;
            width: 150px;
            height: 40px;
            background: #555;
            font: 400 19px/40px "Maven Pro";
            color: #ddd;
            text-align: center; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner {
        display: flex; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con {
          width: 50%;
          height: 100%;
          padding: 100px 70px;
          position: relative; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con h1 {
            font: 600 40px/1.2 "Maven Pro";
            color: #111;
            margin-bottom: 20px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con p {
            font: 300 14px/1.4 "Maven Pro";
            color: #555; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con div {
            position: absolute;
            bottom: 100px;
            left: 0;
            width: 90%;
            height: 120px;
            padding: 30px;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con div h2 {
              font: 300 12px/1 "Maven Pro";
              color: #555;
              margin-bottom: 20px; }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con div h3 {
              font: 500 16px/1 "Maven Pro";
              color: #111; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner a {
          display: block;
          width: 45%;
          background: #bbb; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner {
        background: #555; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner h1 {
          margin-top: 30px;
          display: inline-block;
          font: bold 50px/1 "Maven Pro";
          color: #555;
          background: #fff;
          padding: 10px 200px 10px 50px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner .contact {
          position: absolute;
          right: 50px;
          bottom: 40px;
          background: #4AD4AB;
          width: 470px;
          height: 370px;
          padding: 20px 30px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner .contact::after {
            content: '';
            display: block;
            border-right: 60px solid #4AD4AB;
            border-top: 60px solid transparent;
            border-bottom: 60px solid transparent;
            position: absolute;
            left: -59px;
            top: 50%;
            margin-top: -60px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner .contact p {
            font: 24px/1.2 "Maven Pro";
            color: #ddd; }
  #wrap .swiper-button-prev {
    top: auto;
    left: auto;
    right: calc(8vw + 30px);
    bottom: 5vh;
    transform: scale(0.7);
    color: #000; }
  #wrap .swiper-button-next {
    top: auto;
    right: 8vw;
    bottom: 5vh;
    transform: scale(0.7);
    color: #000; }
  #wrap .swiper-pagination {
    position: absolute;
    top: 5vh;
    left: auto;
    right: 8vw;
    width: auto;
    height: 50px; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      margin-left: 50px;
      opacity: .7; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
