* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s; }
    #wrap .bg li.on {
      opacity: 0.8; }
    #wrap .bg li:nth-of-type(1) {
      background-image: url(../img/bg1.jpg); }
    #wrap .bg li:nth-of-type(2) {
      background-image: url(../img/bg2.jpg); }
    #wrap .bg li:nth-of-type(3) {
      background-image: url(../img/bg3.jpg); }
    #wrap .bg li:nth-of-type(4) {
      background-image: url(../img/bg4.jpg); }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 60vw;
      height: 60vh;
      position: relative;
      top: 20vh; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        padding: 70px 50px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.5);
        transform: scale(0.9);
        transition: .4s;
        overflow: hidden; }
      #wrap .swiper-wrapper .swiper-slide-active .inner {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        transform: scale(1.1); }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner {
        display: flex;
        justify-content: space-between;
        padding: 30px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .pic {
          width: 45%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          display: flex;
          justify-content: center;
          align-items: center; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .pic .profile {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            background: #bbb; }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .pic .profile img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con {
          width: 55%;
          padding: 70px 50px;
          padding-left: 100px;
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con h1 {
            font: 10px/1 'arial';
            color: #ddd;
            letter-spacing: 2px;
            position: absolute;
            left: 40px;
            bottom: 100px;
            transform: rotate(-90deg);
            transform-origin: left center; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con ul {
            display: flex;
            justify-content: center;
            margin-bottom: 10px; }
            #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con ul li {
              font-size: 0;
              margin-right: 10px;
              padding: 5px;
              border: 1px solid #888;
              border-radius: 50%;
              cursor: pointer;
              transition: .4s; }
              #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con ul li i {
                font-size: 14px;
                color: #888;
                transition: .4s; }
              #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con ul li:hover {
                border-color: #555; }
                #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con ul li:hover i {
                  color: #555; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con h2 {
            font: bold 20px/1 'arial';
            color: #333;
            margin-bottom: 30px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .con p {
            font: 13px/1.4 'arial';
            color: #555;
            margin-bottom: 20px; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner {
        padding: 0; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .top {
          padding: 70px 50px;
          height: 55%; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .top h1 {
            font: bold 40px/1 'arial';
            color: #000; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .bottom {
          padding: 30px 50px;
          height: 45%;
          background: rgba(0, 0, 0, 0.3);
          margin-right: 67%; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .bottom p {
            font: 14px/1.4 'arial';
            color: #555; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .vids {
          display: block;
          width: 70%;
          height: 80%;
          position: absolute;
          right: 0;
          bottom: 0;
          overflow: hidden;
          border: 1px solid #888; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .vids video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.2); }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner {
        padding: 70px 100px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .vids {
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border: 1px solid #888; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .vids video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scaleX(1.1); }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner h1 {
          font: bold 40px/1 'arial';
          color: #fff;
          position: absolute;
          left: 50px;
          bottom: 100px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner p {
          font: 12px/1.4 'arial';
          color: #ddd;
          position: absolute;
          top: 100px;
          right: 50px;
          width: 150px; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div {
        border: 2px solid #888;
        padding: 60px 50px 30px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div h1 {
          font: bold 55px/1 'arial';
          color: #555;
          letter-spacing: 5px;
          background: #b2b2b2;
          position: absolute;
          top: 40px;
          left: 50%;
          transform: translateX(-50%);
          padding-left: 5px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset {
          border: none; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset legend {
            font-size: 0;
            text-indent: -9999px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset input::placeholder, #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset textarea::placeholder {
            font: 20px/1 'arial';
            color: #555; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset input:focus, #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset input:active, #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset textarea:focus, #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset textarea:active {
            outline: none; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset input[type="text"], #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset input[type="email"] {
            width: 49%;
            height: 40px;
            border: none;
            padding: 5px 10px;
            font: 20px/40px 'arial';
            color: #000;
            margin-bottom: 10px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset textarea {
            width: 100%;
            height: 200px;
            border: none;
            padding: 10px;
            font: 20px/1 'arial';
            color: #000;
            resize: none; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner div form fieldset input[type="submit"] {
            width: 150px;
            height: 45px;
            font: 16px/45px 'arial';
            color: #222;
            border: none;
            position: relative;
            top: -15px;
            right: 0;
            left: calc(100% - 150px);
            cursor: pointer; }
  #wrap .swiper-button-prev {
    top: auto;
    left: auto;
    right: calc(10vw + 30px);
    bottom: 10vh;
    transform: scale(0.7);
    color: #000; }
  #wrap .swiper-button-next {
    top: auto;
    right: 10vw;
    bottom: 10vh;
    transform: scale(0.7);
    color: #000; }
  #wrap .swiper-pagination {
    position: absolute;
    top: 10vh;
    left: auto;
    right: 10vw;
    width: auto;
    height: 50px; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      margin-left: 50px;
      opacity: .7; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
