* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  overflow: hidden; }
  #wrap .bg li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s; }
    #wrap .bg li.on {
      opacity: 0.8; }
    #wrap .bg li:nth-of-type(1) {
      background-image: url(../img/bg1.jpg); }
    #wrap .bg li:nth-of-type(2) {
      background-image: url(../img/bg2.jpg); }
    #wrap .bg li:nth-of-type(3) {
      background-image: url(../img/bg3.jpg); }
    #wrap .bg li:nth-of-type(4) {
      background-image: url(../img/bg4.jpg); }
    #wrap .bg li:nth-of-type(5) {
      background-image: url(../img/bg5.jpg); }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 60vw;
      height: 60vh;
      top: 20vh; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        color: rgba(255, 255, 255, 0.5);
        transform: scale(0.9);
        transition: .6s;
        opacity: 0.6;
        position: relative;
        overflow: hidden; }
      #wrap .swiper-wrapper .swiper-slide-active .inner {
        opacity: .8;
        transform: scale(1.1);
        backdrop-filter: blur(10px); }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner {
        padding: 40px 50px;
        background: #555; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner div {
          width: 100%;
          height: 100%;
          border: 3px solid #fff; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner h1 {
          font: 45px/1 'arial';
          color: #fff;
          position: absolute;
          top: 50%;
          left: 70px;
          margin-top: -60px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner h2 {
          display: inline-block;
          font: 60px/1 'arial';
          color: #fff;
          background: #4AD4AB;
          position: absolute;
          top: 50%;
          left: 0;
          padding: 30px 20px; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner h1 {
        font: 50px/2 'arial';
        color: #4AD4AB;
        width: 60%;
        text-align: center;
        margin-bottom: 30px; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .pic {
        width: 60%;
        height: 100%;
        border-top: 10px solid #4AD4AB;
        background: #bbb; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .con {
        position: absolute;
        top: 10%;
        right: 30px;
        width: 33%;
        height: 80%;
        background: #393E42;
        padding: 30px 20px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .con h2 {
          font: 18px/1 'arial';
          color: #fff;
          margin-bottom: 30px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .con p {
          font: 17px/1.4 'arial';
          color: #ddd; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner {
        text-align: center; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner h1 {
          display: inline-block;
          font: 50px/1 'arial';
          color: #fff;
          background: #4AD4AB;
          padding: 10px 100px;
          margin-bottom: 50px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner section {
          display: flex;
          justify-content: space-evenly; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner section article {
            width: 25%;
            height: 380px;
            background: #393E42;
            font-size: 40px;
            text-align: center; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner {
        display: flex; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con {
          width: 40%;
          height: 100%;
          background: #4AD4AB;
          padding: 20px 30px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con h1 {
            font: 40px/1 'arial';
            color: #fff;
            text-align: center;
            margin-bottom: 50px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .con p {
            font: 18px/1.4 'arial';
            color: #ddd; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .pic {
          width: 55%;
          height: 100%;
          background: #555; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="3"] .inner .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
      #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner {
        background: #555; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner h1 {
          margin-top: 30px;
          display: inline-block;
          font: bold 50px/1 'arial';
          color: #555;
          background: #fff;
          padding: 10px 200px 10px 50px; }
        #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner .contact {
          position: absolute;
          right: 50px;
          bottom: 40px;
          background: #4AD4AB;
          width: 470px;
          height: 370px;
          padding: 20px 30px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner .contact::after {
            content: '';
            display: block;
            border-right: 60px solid #4AD4AB;
            border-top: 60px solid transparent;
            border-bottom: 60px solid transparent;
            position: absolute;
            left: -59px;
            top: 50%;
            margin-top: -60px; }
          #wrap .swiper-wrapper .swiper-slide[data-swiper-slide-index="4"] .inner .contact p {
            font: 24px/1.2 'arial';
            color: #ddd; }
  #wrap .swiper-button-prev {
    top: auto;
    left: auto;
    right: calc(8vw + 30px);
    bottom: 5vh;
    transform: scale(0.7);
    color: #000; }
  #wrap .swiper-button-next {
    top: auto;
    right: 8vw;
    bottom: 5vh;
    transform: scale(0.7);
    color: #000; }
  #wrap .swiper-pagination {
    position: absolute;
    top: 5vh;
    left: auto;
    right: 8vw;
    width: auto;
    height: 50px; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      margin-left: 50px;
      opacity: .7; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
